@use "../../styles/variables";

.root {
	display: flex;
	gap: 64px;
	padding: 0 64px;
	justify-content: space-between;
}

.image {
	filter: grayscale(10%);
	margin-left: 8px;
}

.text {
	max-width: 50%;
	align-self: self-end;

	color: white;
	opacity: 0.8;
	font-family: variables.$fontRewards;
	line-height: 1.25;
	font-size: 38px;
	letter-spacing: 1.21px;
}

.socialMedia {
	cursor: pointer;
	margin-top: 24px;
	margin-right: 16px;
}
