@font-face {
	font-family: "CircularStd";
	src: url("./fonts/CircularStd-Book.eot");
	src: local("CircularStd-Book"),
		url("./fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
		url("./fonts/CircularStd-Book.woff2") format("woff2"),
		url("./fonts/CircularStd-Book.woff") format("woff"),
		url("./fonts/CircularStd-Book.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("./fonts/CircularStd-Bold.eot");
	src: local("CircularStd-Bold"),
		url("./fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
		url("./fonts/CircularStd-Bold.woff2") format("woff2"),
		url("./fonts/CircularStd-Bold.woff") format("woff"),
		url("./fonts/CircularStd-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
